* {
    padding: 0px;
    margin: 0px;
}

#scoreContainer {
    position: absolute;
    color: white;
    font-size: x-large;
}

#scoreContainer p {
    width: 450px;
    float: left;
}

#win,
#lose {
    display: inline-block;
    position: absolute;
    color: white;
    top: 220px;
    left: 250px;
    font-size: xx-large;
    opacity: 0;
    font-family: fantasy;
    text-align: center;
}

#restart {
    border: none;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}